<web-app>
    <servlet>
        <servlet-name>Validate</servlet-name>
        <servlet-class>Validate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Validate</servlet-name>
        <url-pattern>/Validate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>Generate</servlet-name>
        <servlet-class>Generate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Generate</servlet-name>
        <url-pattern>/Generate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>Profile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Apply</servlet-name>
        <servlet-class>Apply</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Apply</servlet-name>
        <url-pattern>/Apply</url-pattern>
    </servlet-mapping>
</web-app>