<web-app>
    <servlet>
        <servlet-name>Validate</servlet-name>
        <servlet-class>Validate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Validate</servlet-name>
        <url-pattern>/Validate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>Generate</servlet-name>
        <servlet-class>Generate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Generate</servlet-name>
        <url-pattern>/Generate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>Profile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Apply</servlet-name>
        <servlet-class>Apply</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Apply</servlet-name>
        <url-pattern>/Apply</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewTicket</servlet-name>
        <servlet-class>ViewTicket</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewTicket</servlet-name>
        <url-pattern>/ViewTicket</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Events</servlet-name>
        <servlet-class>Events</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Events</servlet-name>
        <url-pattern>/Events</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SubEvent</servlet-name>
        <servlet-class>SubEvent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubEvent</servlet-name>
        <url-pattern>/SubEvent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>History</servlet-name>
        <servlet-class>History</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>History</servlet-name>
        <url-pattern>/History</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Getsub</servlet-name>
        <servlet-class>Getsub</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Getsub</servlet-name>
        <url-pattern>/Getsub</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HostEvent</servlet-name>
        <servlet-class>HostEvent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HostEvent</servlet-name>
        <url-pattern>/HostEvent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ApproveTicket</servlet-name>
        <servlet-class>ApproveTicket</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApproveTicket</servlet-name>
        <url-pattern>/ApproveTicket</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddEvent</servlet-name>
        <servlet-class>AddEvent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEvent</servlet-name>
        <url-pattern>/AddEvent</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Approve</servlet-name>
        <servlet-class>Approve</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Approve</servlet-name>
        <url-pattern>/Approve</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Deny</servlet-name>
        <servlet-class>Deny</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Deny</servlet-name>
        <url-pattern>/Deny</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddSub</servlet-name>
        <servlet-class>AddSub</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddSub</servlet-name>
        <url-pattern>/AddSub</url-pattern>
    </servlet-mapping>
</web-app>